<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- A few key dependencies, linked in order -->

    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>

    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>

    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>



    <!-- Don't forget jQuery! -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <!-- js and css for page logic and event handling -->
    <script type="text/javascript" src="/js/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/list.css">


     <!-- bootstrap CSS and JS (replace soon with semantic) 
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
-->

    <!-- Brick 1.0beta7 for mobile UI (coming soon...mobile page?-->
    <link rel="stylesheet" type="text/css" href="/brick/brick-1.0beta7.css">
    <script type="text/javascript" src="/brick/brick-1.0beta7.js"></script>

    <!-- Semantic CSS and JS for semantic UI -->
    <link rel="stylesheet" type="text/css" href="/semantic-ui/css/semantic.min.css">
    <script type="text/javascript" src="/semantic-ui/javascript/semantic.min.js"></script>


    <style type="text/css">
        body {
            background-color: #E3DED8;
        }

        .ui.inverted.menu {
            background-color:  #9A7879;
        }

        .username {
            color: #cccccc !important;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            //controller for the menu items
            $('.menu').each(function(){
                var sibblings = $(this).children('.item:not(.username)');
                sibblings.each(function(){
                    $(this).click(function(){
                        sibblings.removeClass('active')
                        $(this).addClass('active');
                    });
                });
            });
        });
    </script>
</head>

<body>
    <div class="ui tiered inverted menu">
        <div class="menu">
            <a id="home" class="item <%if(url == '/'){%>active<%}%>" href="/">
                <i class="book icon"></i>ListLSS
            </a>
            <a id="partyList" class="item <%if(url == '/list'){%>active<%}%>" href="/list">
                <i class="list layout icon"></i> Party List
            </a>
            <a class="item <%if(url == '/print'){%>active<%}%>" href="/print">
                <i class="print icon"></i>Printable List
            </a>
            <%if(user){%>
                <div class="right menu">
                    <div class="item username"><%= user.username.substring(0,user.username.indexOf('@'))%></div>
                    <a class="item" href="/signout">
                        <i class="cancel circle"></i> Logout
                    </a>
                </div>
            <%}%>
        </div>
        <div style="display: none" id="listViewOptions" class="ui sub secondary pointing menu">
            <a class="item" id="fulllist">
                <i class="community icon"></i>Full List
            </a>
            <a class="item" id="mylist">
                <i class="users icon"></i>My List
            </a>
        </div>
    </div>
<%- body %>


</body>
</html>
