<!DOCTYPE html>
<html>
<head>
    <title><%- title %></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

        <!-- A few key dependencies, linked in order -->

    <!-- Bring in the socket.io client -->
    <script type="text/javascript" src="/js/socket.io.js"></script>

    <!-- then beef it up with some convenience logic for talking to Sails.js -->
    <script type="text/javascript" src="/js/sails.io.js"></script>

    <!-- listen on socket.io for incoming messages -->
    <script type="text/javascript" src="/js/app.js"></script>



    <!-- Don't forget jQuery! -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/backbone.js/1.0.0/backbone-min.js"></script>
    <!-- js and css for page logic and event handling -->
    <script type="text/javascript" src="/js/auth.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles/list.css">


     <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/css/bootstrap.min.css">

    <!-- Latest compiled and minified JavaScript -->
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc1/js/bootstrap.min.js"></script>
</head>

<body>
    <div class="navbar navbar-static-top">
        <ul style="width:100%" class="nav navbar-nav">
            <a class="navbar-brand" href="/">ListLSS</a>
            <li class="active"><a id="fulllist">View Party List</a></li>
            <li><a id="mylist">My List</a></li>
            <p class="navbar-text pull-right navUsername"><a href="/signout">Logout</a></p>
        </ul>
    </div>




<%- body %>


</body>
</html>
