<div class="ui two column middle aligned grid basic segment">
	<div class="column">
		<div id="login-form" class="ui small form segment">
			<div class="field">
				<label>Email</label>
				<div class="ui left labeled icon input">
					<input type="text" id="login-email" placeholder="Email">
					<i class="user icon"></i>
				</div>
			</div>
			<div class="field">
				<label>Password</label>
				<div class="ui left labeled icon input">
					<input type="password" id="login-password" placeholder="Password">
					<i class="lock icon"></i>
				</div>
			</div>
			<div class="ui error message">
				<div class="header">There were issues with your login</div>
			</div>
			<div id="login-submit" class="ui blue submit button">Login</div>
		</div>
	</div>
	<div class="ui vertical divider">Or</div>
	<div class="center aligned column">
		<div id="signup-begin" class="huge green ui labeled icon button">
			<i class="icon add user"></i>
			Sign Up
		</div>
		<div style="display: none" id="signup-form" class="center aligned column">
			<div class="ui small form segment">
				<div class="field">
					<label>Email</label>
					<div class="ui left labeled icon input">
						<input type="text" id="signup-email" placeholder="email">
						<i class="email icon"></i>
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>First Name</label>
						<input type="text" id="signup-fname" placeholder="First Name">
					</div>
					<div class="field">
						<label>Last Name</label>
						<input type="text" id="signup-lname" placeholder="Last Name">
					</div>
				</div>
				<div class="two fields">
					<div class="field">
						<label>Password</label>
						<input type="password" id="signup-password" placeholder="Password">
					</div>
					<div class="field">
						<label>Retype Password</label>
						<input type="password" id="signup-passwordCheck" placeholder="Retype Password">
					</div>
				</div>
				<div class='field'>
					<label>Super secret SigmaPi code</label>
					<input type="password" id="signup-code" placeholder="secret code">
				</div>
				<div id="signup-submit" class="green ui button">
					Sign Up
				</div>
			</div>
		</div>
	</div>
</div>


<script type="text/javascript">
$(document).ready(function(){
	$('#topBanner').remove();

	$('#show-signup').click(function(){
		if ($('.signup-container').is(':visible'))
			return;
		
		$('.signup-container').show(400);
	});



});
</script>
