.navUsername a {
	margin-left: 10px;
}

.filter {
	display: none;
}
#guests-container {
	margin: 0 auto;
}

#guests-container h4 {
	text-align: center;
}

.guys-container {
	float: left;
}

.girls-container {
	float: right;
}
.list-group {
	width: 500px;
}
.list-group.guys .list-group-item {
	border: 1px solid rgba(220,220,220,.6);
	background-color: rgba(207,126,126, 0.8);
}

.list-group.guys .list-group-item:hover{
	background-color: rgba(230,120,120,.8);
}

.list-group.girls .list-group-item {
	background-color:rgba(151,194,184,.8);
	border: 1px solid rgba(220,220,220,.6);
}

.list-group.girls .list-group-item:hover {
	background-color:rgba(100,230,200,.8);
}
.list-group-item {
	padding: 0;
	padding: 5px 5px 5px 10px;
}

.list-group-item .guest-entry.editable {
	width: 70%;
}

.list-group-item .guest-entry {
	font-size: medium;
}

/*
#554433
#aa8888
#cccccc
#ddddcc
#ccbbbb
dull	
#663333
#aa8877
#ccccbb
#eeddcc
#ccbbaa

*/
.list-group-item input,
.list-group-item input:focus {
	outline: none;
	border: none;
	background: none;
}

.list-group-item .addedBy {
	float: left;
	padding-right: 10px;
	color: #E7E7E7;
}

.guest-details {
	margin-top: 4px;
	float: right;
}
.icon.close {
	float: right;
	opacity: .3;
}

.icon.close:hover {
	opacity: .9;
}