.navUsername a {
	margin-left: 10px;
}



#guests-container {
	margin: 0 auto;
}

#guests-container h4 {
	text-align: center;
}

.guys-container {
	float: left;
}

.girls-container {
	float: right;
}
.list-group {
	width: 500px;
}
.list-group.guys .list-group-item {
	border: 1px solid white;
	background-color:rgba(255,195,195,.8);
}

.list-group.guys .list-group-item:hover{
	background-color: rgba(230,120,120,.8);
}

.list-group.girls .list-group-item {
	background-color:rgba(150,241,220,.8);
	border: 1px solid white;
}

.list-group.girls .list-group-item:hover {
	background-color:rgba(100,230,200,.8);
}
.list-group-item {
	padding: 0;
	width: 100%;
	padding: 10px 10px 10px 15px !important;
}

.list-group-item .guest-entry.editable {
	width: 70%;
}


.list-group-item input,
.list-group-item input:focus {
	outline: none;
	border: none;
	background: none;
}

.list-group-item .addedBy {
	color: #CCC;
}